/* UNIVERSAL STYLING */
* {
  padding: 5px;
}

/* STYLE SECTIONING TAGS */
header {
  text-align: center;
}

main {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20%;
  margin-left: 20%;
}

body {
 background-color: #F5EB95; 
 font-family: Georgia, serif;
}

/* STYLE TEXT */

h1 {
  color: #3E98A8;
}
h2 {
  color: #F58CBB;
  margin: 1 em;
}
h3 {
  color: #F58CBB;
}
h4 {
  color: #000000;
}
p {
  color: #000000;
  font-size: 20px;
  font-weight: normal;
}

.experience {
  font: caption;
}

/* why can't I see the bullet points? */
.skills {
  background-color: transparent;
  text-align: left;
  overflow: visible;
  list-style-type: circle;
  list-style-position: outside;
}

.skill {
  display: block;
  overflow: visible;
}

#intro {
  font-weight: bold;
}

/* STYLE IMAGES */

img {
  display: block;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

#books {
  border: medium solid black;
}

#opera {
  border: small dashed black;
}

#piano {
  border: medium dashed black;
}

#xc {
  border-radius: 80%;
}

.profile {
  border-radius: 50%;
}

.logos {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
}

.tag {
  display: block;
}

/* STYLE NAV BAR */

ul {
  list-style-type: none;
  background-color: #A8A68F;
  overflow: hidden;
  padding: 1em;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 1em;
}

li a:hover {
  background-color: #3E98A8;
}